body {
  display: block;
  margin:0;
  background-color: #1F2226;
  font-family: DM Sans;
font-style: normal;
font-weight: bold;
color: white;
}

h1 {
  margin:0;
}

.container {
    margin: 20px auto;
    width: 1440px;
  font-size: 18px;
  line-height: 1.5;
  background-color: #171718;
  box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
}

.main_contacts {
  width: 100%;
}

.main {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.main_list {
  list-style: none;
  padding: 0;
}

.container_flex {
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
}

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  background-image: url(/img/pink-gradient.jpg);
  margin-bottom: 10px;
}

.header_info {
  margin: 40px;
}
header img {
  margin-bottom: 10px;
  border: 4px solid #a0a096;
  border-radius: 50%;
}

.heading_color_bg {
  background-color: rgb(254 83 141);
    padding: 0px 10px 0px 10px;
    border-radius: 3%;
}

.header_description {
  font-size: 20px;
}

.heading_text {
  color: orangered;
}